<div
    class="bg-gradient-to-br from-black to-gray-900 text-white flex items-start justify-center pt-10 pb-10">
    <div
        class="w-[90vw] bg-gray-800/50 backdrop-blur-md rounded-2xl p-8 shadow-xl grid grid-cols-1 md:grid-cols-2 gap-10">

        <div>
            <!-- Left Side: Skills / Expertise -->
            <h1 class="text-4xl md:text-5xl font-bold mb-6 cursor-default">Skills</h1>
            <div class="flex flex-wrap gap-4 cursor-default ">
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">Java</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">Python</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">Angular</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">React</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">Spring Boot</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">TypeScript</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">JavaScript</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">HTML</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">CSS</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">Machine Learning</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">Data Science</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">Full-Stack Development</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">JUnit</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">CI/CD Pipeline</span>
                <span class="px-4 py-2 rounded-full bg-teal-700/60 text-sm font-semibold transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(255,255,255,0.6)] cursor-default">Jira</span>
            </div>
        </div>
        <!-- Right Side: About Me -->
        <section id="about">
            <h1 class="text-4xl md:text-5xl font-bold mb-6 cursor-default">About <span class="text-teal-400"> Me</span> </h1>
            <p class="text-gray-300 text-lg leading-relaxed cursor-default">
                As a Master's student in Computer Science at the University of Illinois Chicago, I bring a strong
                foundation in full-stack development with three years of industry experience. Previously, I worked as a
                Software Engineer at Société Générale, where I led successful migrations of legacy applications,
                optimizing performance, scalability, and code quality.
                <br><br>
                My expertise lies in Java, Angular, Spring Boot, and Python, complemented by a keen interest in data
                science and machine learning, especially Fairness Aware ML. Beyond technical skills, I am passionate
                about problem-solving, innovation, and continuous learning. Actively involved in extracurriculars, I
                have taken leadership roles in sports societies, Toastmasters, and volunteering initiatives. I also love reading novels and doing art.
            </p>
        </section>

    </div>
</div>