<div class="min-h-screen bg-gradient-to-br from-black to-gray-900 text-white px-6 py-8 flex items-start justify-center">
    <div class="w-full max-w-[1600px]">
        <section id="projects" class="w-full text-center px-6">
            <h1 class="text-4xl md:text-5xl font-bold mb-6 cursor-default">Projects</h1>
            <div class="grid md:grid-cols-3 gap-6">
                <div
                    class="w-full bg-gray-800/50 backdrop-blur-md rounded-xl p-6 shadow-lg text-left transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(45,212,191,0.6)] cursor-default">
                    <h2 class="text-3xl font-bold text-white">Attack the Virus</h2>
                    <br>
                    <img src="/assets/project1.png" alt="Project One Screenshot"
                        class="rounded-lg mb-4 w-full object-cover max-h-60" />
                    <p class="text-lg mt-2 text-gray-300">Attack the Virus is an educational web application built with
                        Angular, Spring Boot, and MySQL that gamifies learning about the immune system, vaccines, and
                        math through interactive quizzes, mini-games, and an AI chatbot. It also integrates Google Maps
                        API and GSAP for real-time clinic location and engaging animations.
                    </p>
                    <a href="https://github.com/NiyatiMalik/Attack-the-Virus" target="_blank"
                        class="text-teal-400 text-lg underline mt-4 inline-block cursor-pointer"><i
                            class="fa-solid fa-link mr-2"></i>Learn More</a>
                </div>
                <div
                    class="w-full bg-gray-800/50 backdrop-blur-md rounded-xl p-6 shadow-lg text-left transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(45,212,191,0.6)] cursor-default">
                    <h3 class="text-3xl font-bold text-white">Fairness Aware Credit Scoring</h3>
                    <br>
                    <img src="assets/project2.png" alt="Project Two Screenshot"
                        class="rounded-lg mb-4 w-full object-cover max-h-60" />
                    <p class="text-lg mt-2 text-gray-300">This project explores algorithmic fairness in credit scoring
                        systems using machine learning. It presents a comparative evaluation of 12 models (1 baseline +
                        11 fairness-aware models) across four real-world credit datasets. The project proposes a new
                        composite metric - Responsibility Score (RS) - and introduces a hybrid model combining
                        pre-processing and in-processing fairness techniques, tested on the HMDA 2018 dataset. </p>
                        <a href="https://github.com/NiyatiMalik/Fairness-Aware-Credit-Scoring" target="_blank"
                            class="text-teal-400 text-lg underline mt-4 inline-block cursor-pointer"><i
                                class="fa-solid fa-link mr-2"></i>Learn More</a>
                </div>
                <div
                    class="w-full bg-gray-800/50 backdrop-blur-md rounded-xl p-6 shadow-lg text-left transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(45,212,191,0.6)] cursor-default">
                    <h3 class="text-3xl font-bold text-white">Stock Market Charting App</h3>
                    <br>
                    <img src="assets/project3.png" alt="Project Three Screenshot"
                        class="rounded-lg mb-4 w-full object-cover max-h-60" />
                    <p class="text-lg mt-2 text-gray-300">This web application allows users to explore and analyze stock
                        market data, manage companies and exchanges, and view IPO details. It is built with a Java
                        Spring Boot backend and a React frontend. The app includes features like user authentication,
                        data import, company and exchange management, and interactive charts for stock performance.
                    </p>
                    <a href="https://github.com/NiyatiMalik/stock-market-charting-app" target="_blank"
                        class="text-teal-400 text-lg underline mt-4 inline-block cursor-pointer"><i
                            class="fa-solid fa-link mr-2"></i>Learn More</a>
                </div>
                
            </div>

            <div class="mt-4 text-center">
                <div class="inline-block bg-gray-800/50 backdrop-blur-md rounded-xl px-8 py-6 shadow-lg cursor-default">
                    <p class="text-lg text-gray-300 mb-2">Want to see more projects? Check out my GitHub!</p>
                    <a href="https://github.com/NiyatiMalik" target="_blank"
                        class="inline-flex items-center gap-2 bg-teal-400 text-black font-semibold px-5 py-2 rounded-lg hover:bg-white transition">
                        <i class="fa-brands fa-github text-xl"></i> View My GitHub
                    </a>
                </div>
            </div>


        </section>

    </div>
</div>