<div class="min-h-screen bg-gradient-to-br from-black to-gray-900 text-white px-6 py-8 flex items-start justify-center">
    <div class="w-full max-w-[1100px]">
        <section id="projects" class="w-full text-center px-6">
            <h1 class="text-4xl md:text-5xl font-bold mb-6 cursor-default">Other Interests</h1>
            <div class="grid md:grid-cols-2 gap-6">
                <div
                    class="w-full bg-gray-800/50 backdrop-blur-md rounded-xl p-6 shadow-lg text-left transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(45,212,191,0.6)] cursor-default">
                    <h2 class="text-3xl font-bold text-white">I read <span class="text-teal-400">Novels</span></h2>
                    <br>
                    <img src="/assets/books.jpg" alt="Project One Screenshot"
                        class="rounded-lg mb-4 w-full object-contain" />
                    <p class="text-lg mt-2 text-gray-300">I am always lost in a good story - fantasy, thrillers, romcoms
                        or anything with unforgettable characters. If you're into fiction too, let’s connect on
                        <a href="https://goodreads.com/user/show/150935322" target="_blank"
                            class="text-teal-400 underline hover:text-white transition">Goodreads</a> and swap
                        recommendations!
                    </p>
                </div>

                <div
                    class="w-full bg-gray-800/50 backdrop-blur-md rounded-xl p-6 shadow-lg text-left transition-transform duration-300 transform hover:scale-105 hover:shadow-[0_0_20px_rgba(45,212,191,0.6)] cursor-default">
                    <h2 class="text-3xl font-bold text-white">I make <span class="text-teal-400">Mandalas</span></h2>
                    <br>
                    <img src="/assets/art.jpg" alt="Project One Screenshot"
                        class="rounded-lg mb-4 w-full object-contain" />
                    <p class="text-lg mt-2 text-gray-300">
                        I unwind with pens, paints, and intricate mandalas. If you like what you see, feel free to check
                        out more of my artwork on
                        <a href="https://instagram.com/immartalised" target="_blank"
                            class="text-teal-400 underline hover:text-white transition">Instagram</a>!
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>